{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">

{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-container">
        <!-- LEFT CONTENT -->
         <div class="hero-left">
            <div class="hero-badge">
                <span class="ping"></span>
                NEW: AI Recipe Generator v2.0
            </div>
            <h1 class="hero-title">Your week.<br>Perfectly plated.</h1>
            <p class="hero-description">AI that plans delicious, healthy meals in seconds.<span id="typing-text" class="typing">No more dinner stress.</span></p>

            <div class="hero-buttons">
                <button class="build-btn">
                    <i class="fa-solid fa-bowl-food"></i>
                    Build My Plan
                </button>
                <button class="demo-btn">
                    <i class="fa-solid fa-play"></i>
                    Watch 48-second demo
                </button>
            </div>
<div class="hero-trust">
 
    <p>Trusted by <strong>142,893</strong> happy foodies</p>
    <div class="stars">★★★★☆<span>(4.98 average)</span></div>
</div>
</div>
<!-- RIGHT VISUAL -->
<div class="hero-right">
    <div class="meal-card">
        <div class="meal-top">
            <p>Tonight’s dinner</p><span>4:30 PM • 18 min</span>
        </div>
        <img src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?w=600&auto=format&fit=crop">
        <div class="meal-info">
            <div>
                <p class="meal-title">Crispy Miso Salmon Bowl</p>
                <p class="meal-desc">486 cal • High protein • Gluten-free</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="scroll-indicator">
    <div>Scroll for magic</div>
    <i class="fa-solid fa-chevron-down"></i>
</div>
</section>

<!-- HOW IT WORKS -->
 <section id="how" class="how-section">
    <div class="how-container">
        <div class="how-header">
            <span class="how-badge">3 STEPS • 30 SECONDS</span>
            <h2 class="how-title">From fridge chaos to dinner done</h2>
        </div>
        <div class="how-grid">
        <!-- STEP 1 -->
          <div class="how-card featured">
    
            <h3>Celebrating with your Family?</h3>
            <p>Delicious meals planned just the way you need.</p>
            <img src="{% static 'img/card1.jpeg'%}" class="how-image">
        </div>
        <!-- STEP 2 -->
         <div class="how-card featured">
           
            <h3>Looking for Comfort Meal</h3>
            <p>Warm, comforting meals made just for your special moments.</p>
            <img src="{% static 'img/card2 (2).jpeg' %}" class="how-image">
        </div>
        <!-- STEP 3 -->
          <div class="how-card featured">
           
            <h3>High Nutritious Food</h3>
            <p>Balanced nutrition, zero food waste,seasonal ingredients and your schedule.</p>
            <img src="{% static 'img/card3.jpeg' %}" class="how-image">
        </div>
    </div>
</div>

</section>
<!-- FEATURED RECIPES / PLANS -->
<section id="recipes" class="recipes-section">
    <div class="recipes-container">
        <div class="recipes-header">
            <div>
                <span class="recipes-subtitle">Fresh this week</span>
                <h2 class="recipes-title">Trending plates</h2>
            </div>
            <a href="#" class="recipes-link">See all recipes <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="recipes-grid">
            <!-- CARD 1 -->
             <div class="recipe-card">
                <img src="{% static 'img/Chicken Biryani.jpeg' %}">
                <div class="recipe-body">
                    <div class="recipe-tags">
                        <span class="tag time">60 min</span>
                        <span class="tag protein">Non-veg</span>
                    </div>
                    <h4> Chicken Biryani</h4>
                    <p>Fragrant basmati rice layered with spiced chicken, caramelized onions, and aromatic herbs. A rich and comforting classic.</p>
                    <div class="recipe-footer">
                        <div class="rating"><i class="fa-solid fa-star"></i> 4.9</div>
                        <button onclick="addToPlan(1)" class="add-btn">
                            <i class="fa-solid fa-plus"></i> Add to plan</button>
                        </div>
                    </div>
                </div>
                <!-- CARD 2 -->
                 <div class="recipe-card">
                    <img src="{% static 'img/Butter chicken.jpeg' %}">
                    <div class="recipe-body">
                        <div class="recipe-tags">
                            <span class="tag time">40 min</span>
                            <span class="tag protein">Non-Veg</span>
                        </div>
                        <h4>Butter Chicken</h4>
                        <p>Juicy chicken in rich creamy tomato gravy, served best with naan or rice. </p>
                        <div class="recipe-footer"><div class="rating">
                            <i class="fa-solid fa-star"></i> 5.</div>
                            <button onclick="addToPlan(2)" class="add-btn">
                                <i class="fa-solid fa-plus"></i> Add to plan</button>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                     <div class="recipe-card">
                        <img src="{% static 'img/Paneer mashroom.jpeg' %}">
                        <div class="recipe-body">
                            <div class="recipe-tags">
                                <span class="tag time">30 min</span>
                                <span class="tag vegan">Veg</span>
                            </div>
                            <h4>Paneer Mashroom</h4>
                            <p>Soft paneer cubes and juicy mushrooms cooked in a rich, spiced gravy. A comforting and flavorful vegetarian delight.</p>

                            <div class="recipe-footer">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i> 4.8
                                </div>
                                <button onclick="addToPlan(3)" class="add-btn">
                                    <i class="fa-solid fa-plus"></i> Add to plan</button>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 4 -->
                         <div class="recipe-card">
                            <img src="{% static 'img/Cheese omlette.jpeg' %}">
                            <div class="recipe-body">
                                <div class="recipe-tags">
                                    <span class="tag time">3 min</span>
                                    <span class="tag protein">Non-veg</span>
                                </div>
                                <h4>Cheese Omlette</h4>
                                <p>Fluffy eggs loaded with melted cheese, lightly seasoned and cooked to perfection. A quick, warm, and satisfying comfort meal.</p>
                              <div class="recipe-footer">
                                    <div class="rating"><i class="fa-solid fa-star"></i> 4.7</div>
                                    <button onclick="addToPlan(4)" class="add-btn">
                                        <i class="fa-solid fa-plus"></i> Add to plan
                                    </button>
                                </div>
                            </div>
                 </div>
        </div>
    </div>
</section>

{% endblock %}
{% block extra_js %}
<script></script>
{% endblock %}