{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recipes.css'%}">
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-container">

        <!-- LEFT -->
        <div class="hero-left">

            <h1 class="hero-title">
                Your fridge.<br>Your mood.
            </h1>

            <p class="hero-sub">
                Tell what you have, how you feel, or what you crave — get perfect Indian recipes in seconds.
            </p>

            <!-- INPUT -->


            <!-- BUTTONS -->
            <div class="hero-btns">
                <button class="hero-btn">📸 Scan My Fridge</button>
                <button class="hero-btn">🎰 Recipe Roulette</button>
                <button class="hero-btn">🌈 Flavor Wheel</button>
            </div>

        </div> 
    </div>
</section>

            <!-- moods-->
<section class="mood-section">

    <div class="mood-container">

        <div class="mood-header">
            <h1 class="mood-title">What’s your kitchen mood today?</h1>
            <p class="mood-sub">AI instantly matches 200+ recipes to your vibe</p>
        </div>

        <div class="mood-grid">

            <div class="mood-card">
                <i class="fa-solid fa-pepper-hot"></i>
                <h3>Spicy & Bold</h3>
                <p>For the heat lovers</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-bowl-food"></i>
                <h3>Comfort Classics</h3>
                <p>Warm hugs in a bowl</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-bolt"></i>
                <h3>Lightning Fast</h3>
                <p>Done in 15 minutes</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-gem"></i>
                <h3>Luxury Dinner</h3>
                <p>Impress everyone</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-leaf"></i>
                <h3>Healthy Glow</h3>
                <p>Light & nutritious</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-ice-cream"></i>
                <h3>Sweet Tooth</h3>
                <p>Dessert first</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-seedling"></i>
                <h3>Pure Veg</h3>
                <p>No compromise</p>
            </div>

            <div class="mood-card">
                <i class="fa-solid fa-drumstick-bite"></i>
                <h3>Non-Veg Feast</h3>
                <p>Meat lovers only</p>
            </div>

        </div>

    </div>

</section>
<section class="bihar-section">

    <div class="bihar-container">

        <!-- HEADER -->
        <div class="bihar-header">
            <span class="bihar-tag">🌾 MADE IN INDIA</span>
            <h2 class="bihar-title">INDIA’s Pride • INDIA’s Soul</h2>
        </div>

        <!-- GRID -->
        <div class="bihar-grid">

            <!-- CARD -->
            <div class="bihar-card">
                <img src="{% static 'img/Chicken Biryani.jpeg'%}">
                <h3>Chicken Biryani</h3>
                <div class="bihar-tags">
            <span class="tag time">50 min</span>
            <span class="tag nonveg">Non-veg</span>
            <p> 520 cal</p>
        </div>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/Butter chicken.jpeg' %}">
                <h3>Butter chicken</h3>
                <div class="bihar-tags">
            <span class="tag time">60 min</span>
            <span class="tag nonveg">Non-veg</span>
            <p> 520 cal</p>
        </div>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/Paneer mashroom.jpeg '%}">
                <h3>Paneer Mashroom</h3>
                 <span class="tag time">30 min</span>
            <span class="tag veg">veg</span>
            <p> 520 cal</p>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/Cheese omlette.jpeg' %}">
                <h3>Cheese Omlette</h3>
                <div class="bihar-tags">
            <span class="tag time">3 min</span>
            <span class="tag nonveg">Non-veg</span>
            <p> 520 cal</p>
        </div>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/kebab.jpeg' %}">
                <h3>Chicken Kebab</h3>
                <div class="bihar-tags">
            <span class="tag time">30 min</span>
            <span class="tag nonveg">Non-veg</span>
            <p> 520 cal</p>
        </div>
            </div>

                  <div class="bihar-card">
                <img src="{% static 'img/satuu.jpeg' %}">
                <h3>Sattu Paratha</h3>
                 <span class="tag time">15 min</span>
            <span class="tag veg">veg</span>
            <p> 520 cal</p>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/pavbhaji.jpeg' %}">
                <h3>Pav Bhaji</h3>
                 <span class="tag time">40 min</span>
            <span class="tag veg">veg</span>
            <p> 520 cal</p>
            </div>

            <div class="bihar-card">
                <img src="{% static 'img/dosa.jpeg' %}">
                <h3>Masala Dosa</h3>
                 <span class="tag time">30 min</span>
            <span class="tag veg">veg</span>
            <p> 520 cal</p>
            </div>

                  <div class="bihar-card">
                <img src="{% static 'img/cholebhature.jpeg' %}">
                <h3>Chole Bhature</h3>
                 <span class="tag time">45 min</span>
            <span class="tag veg">veg</span>
            <p> 520 cal</p>
            </div>
        

        </div>

    </div>

</section>

<section class="love-section">
    <div class="cube">
        <h2>What Patna is Loving Right Now</h2>

        <div class="cards">

            <!-- Card 1 -->
            <div class="card">
                <p class="review">
                    "Made Rogan Josh using this site and my family absolutely loved it."
                </p>

                <div class="user">
                    <div class="avatar avatar1"></div>
                    <div class="info">
                        <h4>Nitin Kumar • Bermo</h4>
                        <span>4 days ago • 1.2k likes</span>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <p class="review">
                    "Made the Sattu Paratha in 18 minutes. My family is still talking about it!"
                </p>

                <div class="user">
                    <div class="avatar avatar2"></div>
                    <div class="info">
                        <h4>Ravi Ranjan • Hazaribagh</h4>
                        <span>Yesterday • 892 likes</span>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <p class="review">
                    "I cooked chicken biryani and mutton biryani this week—both were mind-blowing. Best app ever."
                </p>

                <div class="user">
                    <div class="avatar avatar3"></div>
                    <div class="info">
                        <h4>Saif Hiader • Patratu</h4>
                        <span>2 days ago • 1.4k likes</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script ></script>
{% endblock %}