{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock %}

{% block content %}
 <main>
  <div class="bigb">
     <a href="{% url 'home' %}" class="close-btn">
        &times;
    </a>
    <form action="#">
      <h1>Sign Up</h1>

      <div class="inputbox">
        <input type="text" placeholder="Enter your username" required>
        <i class="fa-solid fa-user"></i> 
      </div>

      <div class="inputbox">
        <input type="email" placeholder="Enter your email" required>
        <i class="fa-solid fa-envelope"></i>
      </div>

      <div class="inputbox">
        <input type="password" placeholder="Create password" required>
        <i class="fa-solid fa-lock" id="togglePassword"></i>
      </div>

      <div class="inputbox">
        <input type="password" placeholder="Confirm password" required>
        <i class="fa-solid fa-lock" id="togglePassword"></i>
      </div>

      <button type="submit" class="btn">Sign Up</button>

      <div class="register-link">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>

    </form>
  </div>
  </main>
{% endblock %}
{% block extra_js %}
<script></script>
{% endblock %}